/* ================== Main Style ================== */
body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

    font-family: Open Sans;

}


/* ================== Table ================== */
table {
    margin: 120px auto;
    border-collapse: collapse;

}

table th {
    padding: 30px;
    font-size: 17px;
    background-color: #fc5103;
    color: white;
    border: 1px solid #f7f3f3;

}

 .plans {
     font-size: 55px !important;  
     font-weight: bold;
     color: #fc5103;

 }

sup,
sub {
    font-size: 17px;
    color: #92837f;
    font-weight: bolder;

}

sup {
    font-size: 23px;

}

sub {
    color: #b7b3b0;

}

tr {
    font-size: 17px;
    text-align: center;

}

.light {
    background-color: #fafafa;

}

.dark {
    background-color: #f7f7f7;

}

table td {
    padding: 20px 70px;
    font-weight: 550;
    color: #92837f;
    border: 2px solid #f7f3f3;
   
}

.main {
    color: #b7b3b0;
    
}

.signs {
    font-weight: bold;
    font-size: 23px;

}

/* --- Buttons --- */
button {
    height: 35px;
    width: 85px;
    border: none;
    outline: none;
    color: white;
    background-color: #333333;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;

} button:hover{
    cursor: pointer;

}

.orange-btn {
    background-color: #fc5103;

}