doctype 
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title C-17

        //- Links
        link(rel="stylesheet", href="css/style.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap", rel="stylesheet")
    head 
    body 
        .container 
            .part-1 
                h3 Join our community
                h4 30-day, hassle-free money back guarantee
                p
                    | Gain access to our full library of tutorials along with expert code reviews. 
                    | Perfect for any developers who are serious about honing their skills.
            .part-2
                h3 Monthly Subscription
                .price 
                    span $29 
                    span per month
                p Full access for less than $1 a day
                button Sign Up
            .part-3 
                h3 Why Us
                p
                    | Tutorials by industry experts #[br]
                    | Peer &amp; expert code review #[br]
                    | Coding exercises #[br]
                    | Access to our GitHub repos #[br]
                    | Community forum #[br]
                    | Flashcard decks #[br]
                    | New videos every week
                    


