// Global
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  @import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');
  font-family: "Londrina Outline", "Codystar", "cursive";
}

body {
  background-image: url("../imgs/wall.jpg");
  background-size: cover;
}

// Style
.container {
  position: relative;
  user-select: none;
  height: 100vh;
  width: 100vw;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.7) 0% 10%, 
                                      rgba(0, 0, 0, 0.95) 100%
                                      );
    z-index: -1;
  }

  .text {
    color: rgb(245, 183, 177);
    font-size: 17rem;
    font-weight: lighter;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5rem;
    max-width: 100%;
    height: 100%;

    text-shadow:  0 0 5px   rgb(245, 183, 177), 
                  0 0 10px  rgb(245, 183, 177), 
                  0 0 15px  rgb(245, 183, 177),
                  0 0 50px  rgb(224, 0, 0,), 
                  0 0 100px rgb(224, 0, 0,),
                  0 0 150px rgb(224, 0, 0,), 
                  0 0 200px rgb(224, 0, 0,),
                  0 0 250px rgb(224, 0, 0,), 
                  0 0 300px rgb(224, 0, 0,),
                  0 0 700px rgb(224, 0, 0,),
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000,
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000;

    div:nth-child(1) {
      font-size: 1.4em;
      transform: rotate(10deg);

      animation-name: lighter, dark, assss, 
                      dark, assss, dark, 
                      assss, dark, assss;
      animation-duration: 1s, 0.3s, 2.5s, 
                          0.3s, 2.5s, 0.3s, 
                          2.5s, 0.3s, 2.5;
      animation-iteration-count:  7, 5, 1, 
                                  5, 1, 5, 
                                  1, 5, 1;
      animation-delay:  1s, 2s, 6.8s, 
                        7s, 10.8s, 11s, 
                        15.8s, 16s, 18.3s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }

    div:nth-child(2) {
      font-size: 1.77em;
      animation-name: lighter, dark, assss;
      animation-duration: 1s, 0.3s, 2.5s;
      animation-iteration-count: 7, 5, 1;
      animation-delay: 0s, 0.2s, 5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }

    div:nth-child(3) {
      font-size: 1.4em;
      transform: rotate(-10deg);

      animation-name: lighter, dark, assss, 
                      dark, assss;
      animation-duration: 1s, 0.3s, 2.5s, 
                          0.3s, 2.5s;
      animation-iteration-count:  7, 5, 1, 
                                  5, 1;
      animation-delay:  1s, 1.2s, 6s, 
                        6.2s, 11s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }
}

// Animation & Key Frames
@keyframes lighter {
  0% {
    text-shadow:  0 0 5px   rgb(245, 183, 177), 
                  0 0 10px  rgb(245, 183, 177), 
                  0 0 15px  rgb(245, 183, 177),
                  0 0 50px  rgb(255, 238, 5), 
                  0 0 100px rgb(224, 0, 0,),
                  0 0 150px rgb(224, 0, 0,), 
                  0 0 200px rgb(224, 0, 0,),
                  0 0 250px rgb(224, 0, 0,), 
                  0 0 300px rgb(224, 0, 0,),
                  0 0 700px rgb(224, 0, 0,),
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000,
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000;
    color: rgb(245, 183, 177);
  }
  2% {
    text-shadow:  0 0 5px  rgb(245, 183, 177), 
                  0 0 10px rgb(245, 183, 177), 
                  0 0 15px rgb(245, 183, 177);
    color: rgb(245, 183, 177);
  }
  5% {
    color: rgb(78, 75, 75);
    text-shadow: none;
  }
  80% {
    text-shadow:  0 0 5px   rgb(245, 183, 177), 
                  0 0 10px  rgb(245, 183, 177), 
                  0 0 15px  rgb(245, 183, 177),
                  0 0 50px  rgb(224, 0, 0,), 
                  0 0 100px rgb(224, 0, 0,),
                  0 0 150px rgb(224, 0, 0,), 
                  0 0 200px rgb(224, 0, 0,),
                  0 0 250px rgb(224, 0, 0,), 
                  0 0 300px rgb(224, 0, 0,),
                  0 0 700px rgb(224, 0, 0,),
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000,
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000;
    color: rgb(245, 183, 177);
  }
  95% {
    color: rgb(245, 183, 177);
    text-shadow: none;
  }
  100% {
    text-shadow:  0 0 5px   rgb(245, 183, 177), 
                  0 0 10px  rgb(245, 183, 177), 
                  0 0 15px  rgb(245, 183, 177),
                  0 0 50px  rgb(224, 0, 0,), 
                  0 0 100px rgb(224, 0, 0,),
                  0 0 150px rgb(224, 0, 0,), 
                  0 0 200px rgb(224, 0, 0,),
                  0 0 250px rgb(224, 0, 0,), 
                  0 0 300px rgb(224, 0, 0,),
                  0 0 700px rgb(224, 0, 0,),
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000,
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000;
    color: rgb(245, 183, 177);
  }
}

@keyframes dark {
  to {
    text-shadow: none;
    color: rgb(78, 75, 75);
  }
}

@keyframes assss {
  to {
    text-shadow:  0 0 5px   rgb(245, 183, 177), 
                  0 0 10px  rgb(245, 183, 177), 0 0 15px 
                            rgb(245, 183, 177),
                  0 0 50px  rgb(224, 0, 0,), 
                  0 0 100px rgb(224, 0, 0,),
                  0 0 150px rgb(224, 0, 0,), 
                  0 0 200px rgb(224, 0, 0,),
                  0 0 250px rgb(224, 0, 0,), 
                  0 0 300px rgb(224, 0, 0,),
                  0 0 700px rgb(224, 0, 0,),
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000,
                  -10px 25px 20px #000, 
                  -10px 25px 20px #000;
    color: rgb(245, 183, 177);
  }
}

// Media Queries
@media (max-width: 1024px) {
  .text {
    div:nth-child(2) {
      font-size: 1.27em !important;
    }

    div:nth-child(1),
    div:nth-child(3) {
      font-size: 1em !important;
    }
  }
}

@media (max-width: 425px) {
  .text {
    letter-spacing: 0.7rem !important;
    div:nth-child(2) {
      font-size: 0.87em !important;
    }

    div:nth-child(1),
    div:nth-child(3) {
      font-size: 0.6em !important;
    }
  }
}

@media (max-width: 375px) {
  .text {
    letter-spacing: 0.7rem !important;
    div:nth-child(2) {
      font-size: 0.76em !important;
    }

    div:nth-child(1),
    div:nth-child(3) {
      font-size: 0.5em !important;
    }
  }
}
