/* ================== Global ================== */
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
/* ================== Container ================== */
.container {
    height: 25%;
    width: 65%;
    position: relative;
    margin: 300px auto;
    padding: 100px;
    background-color: aquamarine;
    
}

.boxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}

.div {
    width: calc(100%/3);
    height: 100%;
    padding: 50px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}

.box-1 {
    margin-left: 0px;

}
.box-3 {
    margin-right: 0px;

}

.div h1, .div p {
    text-align: center;

}