/* ================== Main Style ================== */
body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
   
}


/* ================== Container ================== */
.container {
    margin-top: 75px;
    position: relative;

}

.sm-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 50px;
 
}


/* ================== True & False  ================== */
.true {
    height: 23px;
    width: 23px;
    background-color: #009688;
    position: absolute;
    border-radius: 50%;

}

.true::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 2.5px;
    background-color: #fff;
    top: 10px;
    right: 4px;
    transform: rotate(-55deg);
    border-radius: 70px;

}

.true::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 2.5px;
    background-color: #fff;
    top: 12px;
    left: 6px;
    transform: rotate(40deg);
    border-radius: 70px;
    
}


.false {
    height: 23px;
    width: 23px;
    background-color: #e91e63;
    position: absolute;
    border-radius: 50%;

}

.false::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 2.5px;
    background-color: #fff;
    top: 10px;
    right: 5.8124px;
    transform: rotate(-50deg);
    border-radius: 70px;

}

.false::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: #fff;
    top: 10.3px;
    right: 5.8124px;
    transform: rotate(50deg);
    border-radius: 70px;

}


/* ================== Save Shape ================== */
.save {
    background-color: #2196f3;
    width: fit-content;
    padding: 15px 50px 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    font-weight: bold;
    transform: translateX(535%);
    margin-bottom: 91px;

}

.save::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -1px;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 35px solid transparent;
    border-right: 35px solid #f6f6f6;

}

.plan {
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    background-color: #fff;

}

.plan ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

}

.plan ul li {
    margin: 30px;
    color: #626263;
    position: relative;
    margin-left: 35px;
    padding-right: 65px;

}

.plan ul span {
    margin-top: -2.5px;

}

.plan div {
    height: 50px;
    background-color: tomato;
    width: 405px;
    position: relative;
    padding: 10px 30px;
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    transform: translate(-20px, -85px);
    line-height: 55px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 18px;
    
}


/* --------- Basic --------- */
.basic .basic-heading {
    background-color: #f44336;

}


/* --------- Professional --------- */
.professional .professional-heading {
    background-color: #2196f3;

}