// Variabls
$sedansColor: hsl(31, 77%, 52%);
$suvsColor: hsl(184, 100%, 22%);
$luxuryColor: hsl(179, 100%, 13%);
$headingColor: hsl(0, 0%, 95%);
$paraColor: hsla(0, 0%, 100%, 0.75);

// Global
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;

    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
    background-color: $headingColor;
}

// Style
.container {
    display: flex;
    position: relative;
    padding: 70px 15px;
    flex-wrap: wrap;
    position: relative;
    margin-top: 100px;

    .part {
        padding: 40px 50px;
        
        h3 {
            font-family: "Big Shoulders Display";
            font-size: 40px;
            color: $headingColor;
            text-transform: uppercase;
        }

        p {
            max-width: 200px;
            font-size: 15px;
            line-height: 2;
            color: $paraColor;
            font-family: "Lexend Deca";
        }

        button {
            width: 135px;
            margin-top: 50px;
            height: 45px;
            border-radius: 30px;
            border: none;
            outline: none;
            background-color: $headingColor;
            font-family: "Lexend Deca";

            &:hover {
                background-color: transparent;
                border: 1px solid $headingColor;
                cursor: pointer;
                color: $headingColor;
            }
        }

        .sedans-btn {
            color: $sedansColor;
        }
        
        .suvs-btn {
            color: $suvsColor;
        }
        
        .luxury-btn {
            color: $luxuryColor;
        }  
    }

    .sedans {
        background-color: $sedansColor;
        border-radius: 7px 0px 0px 7px;
    }
    
    .suvs {
        background-color: $suvsColor;
    }
    
    .luxury {
        background-color: $luxuryColor;
        border-radius: 0px 7px 7px 0px;
    }
}

// Media Querries
@media (max-width: 375px) {
    
    .container {
        margin-top: 0;

        .part {
            flex-basis: 100%;
        }

        .sedans {
            border-radius: 7px 7px 0px 0px;
        }
    
        .luxury {
            border-radius: 0px 0px 7px 7px;
        }
    }  
}