// Varialbls
$darkCyan: hsl(185, 75%, 39%);
$veryDark: hsl(229, 23%, 23%);
$dark: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$fontSize: 18px;

// Global
* {
    @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: $darkCyan;
    font-family: "Kumbh Sans";
    overflow: hidden;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0 0 25px 0;
    border-radius: 17px;
    min-width: 300px;
    z-index: 2;

    .back {
        img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 80px;
            border-radius: 50%;
            border: 7px solid #fff;
        }
        
        svg {
            border-radius: 17px 17px 0 0;
        }
    }

    .info {
        text-align: center;
        padding: 50px 20px 20px 20px;
        padding-left: 100px;
        padding-right: 100px;
        position: relative;

        h3 {
            font-size: 18px;
            color: $veryDark;
        }

        p {
            font-size: 15px;
            color: $darkGray;
        }

        span {
            color: $darkGray;
            padding-left: 5px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #ccc;
            bottom: 0;
            left: 0;
        }
    }

    .social {
        display: flex;
        justify-content: space-evenly;

        h4 {
            color: $veryDark;
            font-size: $fontSize;
        }

        span {
            font-size: 12px;
            color: $darkGray;
        }        
    }
}

@media (max-width: 375px) {
    .container .back svg {
        width: 100%;
    }
}