doctype 
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Project-4 

        //- Links
        link(rel="stylesheet", href="css/style.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Monoton&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Saira:wght@100;300;400&display=swap", rel="stylesheet")
    body 
        .container 
            h1 Geniuses
            p We are in the 20st century, sir!  
            .sm-container 
                .steve 
                    .name 
                        p.f-name s #[br]
                            |
                            | t  #[br] 
                            | e  #[br] 
                            | v  #[br] 
                            | e  #[br]
                        p.l-name j #[br]
                            | o #[br] 
                            | b #[br] 
                            | s #[br] 
                    img(src="images/steve.jpg", alt="Steve Jobs")
                .bill 
                    .name 
                        p.f-name b #[br]
                            |
                            | i #[br] 
                            | l #[br] 
                            | l #[br] 
                        p.l-name g #[br]
                            |
                            | a #[br] 
                            | t #[br] 
                            | e #[br] 
                            | s #[br] 
                    img(src="images/bill.jpg", alt="Bill Gates")
                .elon 
                    .name 
                        p.f-name e #[br]
                            |
                            | l #[br] 
                            | o #[br] 
                            | n #[br] 
                        p.l-name m #[br]
                            |
                            | u #[br] 
                            | s #[br] 
                            | k #[br] 
                    img(src="images/elon.jpg", alt="Elon Musk")