doctype 
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Project-1 

        //- Links
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/all.min.css")
    body
        .container
            .icons 
                div(class="icon facebook")
                    a(href="#") 
                        i(class="fab fa-facebook-f")
                div(class="icon twitter")
                    a(href="#") 
                        i(class="fab fa-twitter")
                div(class="icon insta")
                    a(href="#") 
                        i(class="fab fa-instagram")
                div(class="icon github")
                    a(href="#") 
                        i(class="fab fa-github-alt")
                div(class="icon google")
                    a(href="#") 
                        i(class="fab fa-google-plus-g")
