doctype 
html(lang="en")
  head 
    //- Meta Tags
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    title C-10

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com",crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap",rel="stylesheet")
    link(rel="stylesheet", href="css/all.min.css")
    link(rel="stylesheet", href="css/style.css")
  body 
    //-  Download Section
    .download 
      .container
        img(src="images/logo.png", alt="Website Loge")
        h1 A history of everything you copy
        p Clipboard allows you to track and organize everything you copy. Instantly#[br] 
          | access your clipboard on all your devices
        .btns 
          a(class="ios", href="#") 
            button Download for iOS 
          a(class="mac", href="#")
            button Download for Mac 

    //- Features Section
    .features 
      .container 
        .keep 
          h2 Keep track of your snippets
          p Clipboard instantly stores any item you copy in the cloud, meaning you can access #[br]
            | your snippets immediately on all your devices. Our Mac and iOS apps will help you #[br]
            | organize everything.
        .image
          img(src="images/image-computer.png", alt="Computer Monitor Image")
        .feature 
          .search
            h3 Quick Search
            p Easily search your snippets by content, category, web address, application, and more.
          .icloud 
            h3 iCloud Sync
            p Instantly saves and syncs snippets across all your devices.
          .history 
            h3 Complete History
            p Retrieve any snippets from the first moment you started using the app.

    //- Clipboard Section
    .clipboard 
      .container 
        .clip 
          h2 Access Clipboard anywhere
          p Whether you’re on the go, or at your computer, you can access all your Clipboard #[br]
            | snippets in a few simple clicks.
        .image 
          img(src="images/image-devices.png", alt="Multible Devices Image")
    
    //- Super Charge Section
    .super 
      .container 
        .head
          h2 Supercharge your workflow
          p Whether you’re on the go, or at your computer, you can access all your Clipboard #[br]
            | snippets in a few simple clicks.
        .elements 
          .blacklists
            img(src="images/icon-blacklist.png", alt="Paper Icon")
            .info 
              h3 Create blacklists
              p Ensure sensitive information never makes its #[br]
                | way to your clipboard by excluding certain #[br]
                | sources.
          .text
            img(src="images/icon-text.png", alt="Text Icon")
            .info 
              h3 Plain text snippets
              p Remove unwanted formatting from copied text #[br]
                | for a consistent look.
          .sneak
            img(src="images/icon-preview.png", alt="Aye Icon")
            .info 
              h3 Sneak preview
              p Quick preview of all snippets on your Clipboard #[br]
                | for easy access.
    
    //- Parteners Section
    .partners 
      .container 
        .google 
          img(src="images/logo-google.png", alt="Google Image")
        .ibm
          img(src="images/logo-ibm.png", alt="IBM Image")
        .microsoft 
          img(src="images/logo-microsoft.png", alt="Microsoft Image")
        .hp 
          img(src="images/logo-hp.png", alt="HP Image")
        .vector
          img(src="images/logo-vector-graphics.png", alt="Vector Graphics Image")
    
    //- Clipboard Section
    .clipbooard 
      .container 
        .head
          h2 Clipboard for iOS and Mac OS
          p Available for free on the App Store. Download for Mac or iOS, sync with iCloud and #[br]
            | you’re ready to start adding to your clipboard.
        .btns 
          a(class="ios", href="#") 
            button Download for iOS 
          a(class="mac", href="#")
            button Download for Mac 
            
    //- Footer Section        
    .footer 
      .container 
        .part-1 
          .image 
            img(src="images/logo.png", alt="Website Loge")
          .ul-1 
            ul 
              a(href="#") 
                li FAQs 
              a(href="#") 
                li Contact Us
          .ul-2 
            ul 
              a(href="#") 
                li Privacy Policy
              a(href="#")
                li Press Kit 
          .ul-3 
            ul 
              a(href="#") 
                li Install Guide 
        .part-2
          a(href="#") 
            i(class="fab fa-facebook-square")
          a(href="#") 
            i(class="fab fa-twitter")
          a(href="#") 
            i(class="fab fa-instagram")
