doctype 
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title C-9

        //- Links
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap", rel="stylesheet")
    body 
        .container 
            .left-side 
            .right-side 
            
            .phone 
                .header 
                    .info  
                        i(class="fas fa-angle-left")
                        img(src="images/avatar.jpg", alt="")
                        .text 
                            h3 Samuel Green
                            p Available to Walk
                    i(class="fas fa-ellipsis-v")
                div(class="part one")
                    p That sounds great. <br>
                        | I’d be happy with that.
                    p Could you send over some <br>
                        | pictures of your dog, please?
                div(class="part two")
                    .dogs 
                        img(src="images/dog-image-1.jpg", alt="")
                        img(src="images/dog-image-2.jpg", alt="")
                        img(src="images/dog-image-3.jpg", alt="")
                    p  Here are a few pictures. <br>
                        | She’s a happy girl!
                    p Can you make it?
                div(class="part three")
                    p She looks so happy! The time <br>
                        | we discussed works. How <br>
                        | long shall I take her out for?
                    .thert-minute 
                        .ther-min  
                            .circle 
                            p 30 minute walk 
                        span $29
                    .one-hour
                        .one-h  
                            .circle 
                            p 1 houre  walk 
                        span $49
                .message 
                    input(type="text", name="message", placeholder="Type Your Message...")
                    i(class="fas fa-angle-right")
            .para 
                h2 Simple booking
                p Stay in touch with our dog walkers through the chat <br>
                    | interface. This makes it easy to discuss arrangements and <br>
                    | make bookings. Once the walk has been completed you can <br>
                    | rate your walker and book again all through the chat.
